/* Enter your custom styles here */
html{
    box-sizing: border-box;
}
.label{
    padding: 1rem;
    font-size: xx-large;
}
.btnBox{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.sapUiSizeCompact .sapMInputBaseContentWrapper {
    height: 3rem;
    border-color: red;
    background-color: #e7f2b6;
}
.sapMBtn .sapMBtnInner {
    align-items: center;
    background-color: #56d0e8;
    color: white;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.sapMBtnInner {
    font-size: 2rem;
}

.sapUiSizeCompact .sapMBtnInner {
    height: 3.5rem;
}

.sapUiSizeCompact .sapMBtn {
  height: 4rem; 
  width: 13rem !important;
}
.btnBox {
    flex-wrap: wrap;
}
.inp{
    padding-left: 1rem;
    padding-right: 1rem;
}
.txts{
    margin: 1rem;
    font-size: large;
    flex-wrap: wrap;
    overflow-y: auto;
}
.txt{
    font-size: larger;
}
.sapMInputBaseInner {
    font-size: 2rem;

}
.sapUiSizeCompact .sapMInputBase {
    line-height: 1rem;
    height: 4rem;
    padding: 1rem;
}

.sapUiSizeCompact .sapMInputBaseContentWrapper {
    height: 3rem;
    background-color: #e7f2b6;
}
.sapMBtnInner {
    font-size: 2rem;
}
.hidden{
    display: none;
}
.icon{
    font-size : 3rem;
    color: white;
}
.footer{
    background-color: #60c85bd3;
}