.html{
    box-sizing: border-box;
    min-width: 915px;
    min-height: 485;
    overflow-y: hidden;
}
@media only screen and (min-width: 768px) {
    .aimLogo{
        width: 70%;
        height: 70%;
        max-width: 20rem
    }
    .btn{
        width: 20%;
        height: 20%;
        padding: 0.5rem 1rem;

    }
}
.main{
    background-image: url('app/fiori/webapp/images/weReAimtec.png');
    width: 100%;
    height: 100%;
}
.cont{
    padding-bottom: 30rem;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.aimLogo{
    width: 100%;
    height: 100%;
    max-width: 20rem;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    padding-bottom: 10rem;
}

.btn{
    font-weight: bold;
    text-decoration: none;
    font-family: helvetica;
    font-style: normal;
    background-color: rgba(255,153,2,1.0);
    border: 3px solid #ff9902;
    border-radius: 6px;
    color: #fff;
    fill: #fff;
    padding: 1rem 2rem;
    text-transform: none;
    text-align: center;
    width: auto;
    height: auto;
}
.btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgba(0, 0, 0,1.0);
}
